

<div class="container">
    <h4>Login To POZ...</h4>
        <form>
            <div class="form-group">
                <label>Enter Your Mobile Number</label><br>
	            <input type="text" name="no" size="70"/>
            </div>
            <div class="form-group">
                <label>Enter Your Password</label><br>
	            <input type="text" name="pwd" size="70"/>
            </div>

            <button type="button" class="btn btn-primary">Login</button>
            <button type="button" class="btn" routerLink = "/signup">Sign Up!</button>
        </form>
    <span class="psw"><a routerLink="/forgotpwd">Forgot Password</a></span>
</div>
