

<div class="signHeader">
 
  <h4>Sign Up To POZ...</h4>
  <form>
    <div class="form-group">
       <label>Enter Your Name</label><br>
       <input type="text" name="name" size="70"/>
    </div>
    <div class="form-group">
       <label>Enter Your Mobile Number</label><br>
	     <input type="text" name="mblno" size="70"/>
    </div>
    <div class="form-group">
       <label>Enter OTP</label><br>
       <input type="text" name="no" size="70"/>
    </div>
    <div class="form-group">
       <label>Enter A Password</label><br>
	     <input type="text" name="pwd" size="70"/><br><br>
       <input type="text" name="pwd" placeholder="Confirm Password" size="70"/>
    </div>

    <p id="btn"><input type="button" name="" value="Submit" class="btn btn-primary"/>  <input type="button" name="" value="Cancel" class="btn" routerLink = ""/></p>
  </form>
</div>
