<div class="fHeader">
  <h4>Regain Access To POZ...</h4>
    <form>
      <div class="form-group">
        <label>Enter Your Mobile Number</label><br>
	      <input type="text" name="no" size="70"/>
      </div>
      <div class="form-group">
        <label>Enter Your OTP</label><br>
        <input type="text" name="no" size="70"/>
      </div>
      <div class="form-group">
        <label>Enter Your New Password</label><br>
	      <input type="text" name="pwd" size="70"/><br><br>
        <input type="text" name="pwd" placeholder="Confirm Password" size="70"/>
      </div>

      <button type="button" class="btn btn-primary">Submit</button>
      <button type="button" class="btn" routerLink = "">Cancel</button>
    </form>
</div>
